<%-include ("./partials/head.ejs") %>
<%-include ("./partials/header.ejs") %>
<main>
    <h1>ERROR</h1>
    <h2>Algo no ha sucedido como debe ser, si crees que no es un error comunicate con el administrador</h2>
    <h2>Vuelve atras o vuelve a la <a href="/" style="color:black;">página central</a></h2>
</main>
<%-include ("./partials/footer.ejs") %>