<%-include("./partials/head") %>
<%-include("./partials/header") %>
<main>
    <h1>Productos destacados</h1>
    <section class="product-carousel">
        <span><i class="fa-solid fa-chevron-left"></i></span>
        <article class="product-info">
            <picture>
                <img src="/images/motorola-g42.jpg" alt="">
            </picture>
            <ul class="product-description">
                <li>Nombre: Motorola G42</li>
                <li>Precio: 56.999$</li>
                <li>Descripcion: Procesador Octa-Core 2.4 GHz.<br>
                    Almacenamiento: 128GB.<br>
                    Camaras: Frontal 16 Mp / Trasera 50+8+2 Mp
                </li>
            </ul>
        </article>
        <span><i class="fa-solid fa-chevron-right"></i></span>
    </section>
    <section>
    <h1>Otros productos</h1><br>
    <ul class="product-list">
        <li class="product">
            <ul>
                <li class="image"><img src="/images/iphone-11.jpg" alt=""></li>
                <li>Nombre: Iphone 11</li>
                <li>Precio: 54.999$</li>
                <li style="color: green;">Disponible</li>
            </ul>
        </li>
        <li class="product">
            <ul>
                <li class="image"><img src="/images/iphone-12.jpg" alt=""></li>
                <li>Nombre: Iphone 12</li>
                <li>Precio: 78.999$</li>
                <li style="color: green;">Disponible</li>
            </ul>
        </li>
        <li class="product">
            <ul>
                <li class="image"><img src="/images/samsung-a23.jpg" alt=""></li>
                <li>Nombre: Samsung Galaxy A23</li>
                <li>Precio: 32.999$</li>
                <li style="color: red;">No Disponible</li>
            </ul>
        </li>
        <li class="product">
            <ul>
                <li class="image"><img src="/images/tablet-lenovo.jpg" alt=""></li>
                <li>Nombre: Tablet Lenovo</li>
                <li>Precio: 44.999$</li>
                <li style="color: green;">Disponible</li>
            </ul>
        </li>
        <li class="product">
            <ul>
                <li class="image"><img src="/images/tablet-samsungA7.jpg" alt=""></li>
                <li>Nombre: Tablet Samsung A7</li>
                <li>Precio: 84.999$</li>
                <li style="color: red;">No Disponible</li>
            </ul>
        </li>
        <li class="product">
            <ul>
                <li class="image"><img src="/images/tv-LGsmart.webp" alt=""></li>
                <li>Nombre: TV LG Smart</li>
                <li>Precio: 123.999$</li>
                <li style="color: green;">Disponible</li>
            </ul>
        </li>
        <li class="product">
            <ul>
                <li class="image"><img src="/images/tv-samsung.jfif" alt=""></li>
                <li>Nombre: TV Samsung Smart</li>
                <li>Precio: 154.999$</li>
                <li style="color: green;">Disponible</li>
            </ul>
        </li>
        <li class="product">
            <ul>
                <li class="image"><img src="/images/notebook-hp.jpg" alt=""></li>
                <li>Nombre: Notebook HP</li>
                <li>Precio: 88.999$</li>
                <li style="color: red;">No Disponible</li>
            </ul>
        </li>
    </ul>
    </section>
</main>
<%-include("./partials/footer") %>