<footer>
<ul class="footer-container">
    <li class="first">
            <p>Libexor</p>
            <div class="social-icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
    </li>
    <li class="second">
        <ul>
            <li>Acerca de</li>
            <li>Terminos y Condiciones</li>
            <li>Sugerencias</li>
            <li>FAQ</li>
            <li><i class="fa-regular fa-copyright"></i>Copyright 2023 - Libexor</li>
        </ul>
    </li>
    <li class="third">
        <ul>
            <li>Samsung</li>
            <li>DELL</li>
            <li>HP</li>
            <li>Motorola</li>
            <li>Philips</li>
        </ul>
    </li>
</ul>
</footer>
</body>
</html>