<body>
<header>
    <nav class="nav-bar">
        <div class="head">
            <ul>
                <li class="title">
                    <a href="/" style="text-decoration: none; color: white;"><p>Libexor</p></a>
                </li>
                <% if (locals.isLogged) { %>
                    <% if(locals.user.isAdmin == 1) {%>

                        <li>
                            <a href="/users/list" style="text-decoration: none; color: white;">Lista de usuarios</a>
                        </li>
    
                        <li>
                            <a href="/product/list" style="text-decoration: none; color: white;">Lista de productos</a>
                        </li>
    
                        <li>
                            <a href="/profile" style="text-decoration: none; color:white;"><p>Mi Perfil</p></a>
                        </li>
    
                        <% } else { %>
                    <li>
                        <p>Bienvenido <%=locals.user.username %></p>
                    </li>
                    <li>
                        <a href="/profile" style="text-decoration: none; color:white;"><p>Mi Perfil</p></a>
                    </li>
                <% } %>
                <% } else { %>
                    <li><a href="/login-register" style="text-decoration: none; color: white;"><p>
                        Ingresar
                    </p></a></li>
                    <li><a href="/login-register" style="text-decoration: none; color: white;">
                        <p>Registrarse</p>
                    </a></li>
                    <% } %>
                <li>
                    <p>
                        <form action="/search" method="post">
                    <div class="search-bar">
                    <input type="search" class="search-bar-imput" placeholder="Busqueda" name="search"/>
                    <span class="input-group-text border-0" id="search-addon">
                        <button type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                    </span>
                  </div>
                </form>
                </p>
                </li>
                <li><a href="/cart" style="text-decoration: none; color: white;">
                    <p><i class="fa-solid fa-cart-shopping"></i></p>
                </a></li>
            </ul>
        </div>
        <div class="categories">
            <ul>
                <% for( i = 0; i < types.length; i++ ) { %>
                    <li>
                        <a href="/type/<%=types[i].id %>" style="text-decoration: none;"><%=types[i].type %></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>