<body>
<header>
    <nav class="nav-bar">
        <div class="head">
            <ul>
                <li class="title">
                    <a href="/" style="text-decoration: none; color: white;"><p>Libexor</p></a>
                </li>
                <li><a href="/login-register" style="text-decoration: none; color: white;"><p>
                    Ingresar
                </p></a></li>
                <li><a href="/login-register" style="text-decoration: none; color: white;">
                    <p>Registrarse</p>
                </a></li>
                <li>
                    <p>
                    <div class="search-bar">
                    <input type="search" class="search-bar-imput" placeholder="Busqueda" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>
                </p>
                </li>
                <li><a href="/cart" style="text-decoration: none; color: white;">
                    <p><i class="fa-solid fa-cart-shopping"></i></p>
                </a></li>
            </ul>
        </div>
        <div class="categories">
            <ul>
                <% for( i = 0; i < types.length; i++ ) { %>
                    <li><%=types[i].type %></li>
                <% } %>
                <!-- <li>Celulares</li>
                <li>Auriculares</li>
                <li>Notebooks</li>
                <li>Televisores</li>
                <li>Tablets</li>
                <li>PCs</li> -->
            </ul>
        </div>
    </nav>
</header>